header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo-head {
  display: block;
}

.burger {
  display: none;
}

.header_nav_item {
	Color: #333333;
	font-size: 18px;
	line-height: 22px;
}

.header_nav_item:hover {
	border-bottom: 2px solid #FF9900;
	transition: 300ms;
}

.header_nav_item:focus {
	border: 2px solid #FF9900;
	transition: 300ms;
}

.header_nav_item:active {
	border-bottom: 2px solid #E1670E;
	color: #E1670E;
	transition: 300ms;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head, nav {
	display: flex;
	font-weight: 600;
	align-items: center;
}

.nav-item {
	margin-right: 85px;
}

.search {
	background: url(../img/search.svg) no-repeat center;
	border: none;
	width: 24px;
	height: 24px;
}

.search:hover {
	background: url(../img/search_hover.svg) no-repeat center;
	transition: 300ms;
}

.search:focus {
	outline: 2px solid #FF9900;
  outline-offset: 3px;
  transition: outline 300ms ease-in-out;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.close_search {
  background: url(../img/close_search_default.svg) no-repeat center;
  width: 24px;
  height: 24px;
}

.search_form {
  z-index: 10;
  position: absolute;
  right: 15px;
  max-width: 539px;
  padding: 16px 13px 16px 32px;
  display: flex;
  transform: translateX(calc(100% + 30px));
  transition: transform 300ms ease-in-out;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search_input {
  width: 412px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  background-color: #FFF;
}

.search_form--active {
  transform: translateX(0);
}

.search_btn_active {
  background: url(../img/search.svg) no-repeat center;
	border: none;
	width: 24px;
	height: 24px;
  margin: 0 22px 0 14px;
}

.search_hidden {
  display: none;
}
